
@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}

<h2>AddEmployee</h2>

@Html.Partial("/Views/Employee/Partial/EmployeeForm.cshtml")
<a href="~/Views/Employee/Partial/EmployeeForm.cshtml">~/Views/Employee/Partial/EmployeeForm.cshtml</a>