<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>
    <header>
        <p>Layout Head</p>
    </header>
    @RenderBody()
    <p>
        Layout Footer
    </p>
</body>
</html>
