@model FirstMVCProject.Models.Employee

<label>ID</label>
@Html.TextBoxFor(x=>x.ID)
<br />
<label>Name</label>
@Html.TextBoxFor(x=>x.Name)
<br />
<label>Salary</label>
@Html.TextBoxFor(x=>x.Salary)  
<br />
<button type="submit">Save</button>